[submodule "vaghar_org/utils/MIPVerify.jl"]
	url = https://github.com/netaK126/my_mipverfy.git
[submodule "vaghar_org/neta-s-paper"]
	path = vaghar_org/neta-s-paper
	url = https://github.com/netaK126/neta-s-paper.git
